{% set i = 1  %}
{% for author in authors_top %}
    <li class="flex justify-between gap-x-6 py-5">
        <div class="flex items-center">
            <span class="mr-2 p-2 w-7 h-7 flex justify-center items-center rounded-full bg-gray-200 text-bold">{{  i }}</span>
            <span>{{ author.firstname }} {{ author.lastname }}</span>
        </div>
        <span>{{ author.book_count }}</span>
        {% set i = i + 1 %}
    </li>
{% endfor %}
